
    body {
    font-family: Arial;
    margin: 0;
    background: #f0f2f5;
}

header {
    background: linear-gradient(45deg, #4facfe, #00f2fe);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

.skills span {
    display: inline-block;
    background: #eee;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
}

.project {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #4facfe;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
